<html>
    <head>
        <title>Todo app</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="assets/landing.css">
    </head>

    <body>
        <div id="box">
        <h1>Welcome! <br>
        Keep track of your<br> To-Do List easily.</h1>
            <a href="/exuser"><button type="submit" class="btn btn-primary" id="but1">Already a user</button></a>
            <a href="/newuser"><button type="submit" class="btn btn-success" id="but2">New user</button></a>
    </div>
    </body>
</html>